.page-container {
  background-color: #343a40;
  height: 100vh;
  padding: 1rem 0.2rem 3rem 0;
}
.main-heading {
  text-align: center;
  color: #fff;
}
#newArrayBtn {
  background: transparent;
  color: #1e919a;
  border: 2px solid #1e919a;
  font-weight: 500;
}
.my-btn {
  background: transparent;
  color: #2972ae !important;
  border: 2px solid #2972ae !important;
  margin-right: 1rem;
  font-weight: 500 !important;
}
.btn:hover {
  background-color: #fff !important;
}
.bars-container {
  margin: 1rem 4rem 0rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 2px solid #fff;
}
.bars {
  margin: 10px 5px 0 0;
  width: 20px;
  background-color: orangered;
}

/* media queries */
@media (max-height: 576px) {
  .page-container {
    height: auto;
  }
}
@media (max-width: 768px) {
  .my-btn {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .bars {
    width: 10px;
  }
}
